title: 'Gravity2RDStation'

templateTheme: 'bootstrap'

destination: 'doc'

source:
    - 'app/'

exclude:
     - Integrations/ # third party integration class

accessLevels:
     - public
     - private
     - protected
